<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login page</title>
</head>
<body>
    <h3>Login page</h3>
    <form action="/login" method="POST">
    ID          :   <input type ="TEXT"><br/>
    PASSWORD    :   <input type ="PASSWORD"><br/>
    RE-PASSWORD :   <input type ="PASSWORD"><br/>
    NAME        :   <input type ="TEXT"><br/>
    <input type ="submit" value=" SIGN IN "><br/>
    </form>
</body>
</html>

<!-- 1. 메인 바디 안에 폰트 작성 => <h3>
2. HTTP POST 메소드를 사용 => from 함수 => 
    이 form을 전달하면 ("/join")으로 이동 
    => form이 아래의 정보를 전달 => data를 제출 'submit'
##  TYPE => TEXT , PASSWORD -->
