<!DOCTYPE html>
<html lang="en">
<!-- head.html -->
{% include "../main/head.html" %}



<!-- main body -->
<body>
    <!-- nav.html -->
    {% include "../main/nav.html" %}
    <div class="container-md pt-5">
        {% if not request.user.is_authenticated %}
        <a href="/member/auth_login"  class="btn btn-dark">로그인 </a>
        <a href="/member/auth_join"  class="btn btn-dark" > 회원가입 </a>
        {% else %}
        세션에 있는 아이디 정보 : {{request.username}} <br/>
        세션에 있는 이름 정보   : {{request.user.first_name}} <br/>
        세션에 있는 이메일 정보 : {{request.user.email}} <br/>
        <a href="/member/auth_edit">정보수정 </a>
        <a href="/member/auth_pw">비번 변경 </a>
        <a href="/member/auth_logout"> 로그아웃 </a>
        {% endif %}
    <!-- footer.html -->
    {% include "../main/footer.html" %}
    </div>
</body>
</html>