<!-- Path = templates / member / join.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Join Page</title>
</head>
<body>
    <h3>Join page</h3>
    <!-- 보내는 위치 = action="member/join" -->  
    <form action="/member/join" method="POST">
    ID          : <input type = "text" name = "id"/><br/> 
    PASSWORD    : <input type = "password" name = "pw"/><br/> 
    RE-PASSWORD : <input type = "password"/><br/> 
    NAME        : <input type = "text" name = "name"/><br/> 
    AGE         : <input type = "text" name = "age"/><br/> 
    <input type ="submit" value=" SIGN IN "><br/>
    </form>
</body>
</html>

<!-- 1. 메인 바디 안에 폰트 작성 => <h3>
2. HTTP POST 메소드를 사용 => from 함수 => 
    이 form을 전달하면 ("/join")으로 이동 
    => form이 아래의 정보를 전달 => data를 제출 'submit'
##  TYPE => TEXT , PASSWORD -->
<!-- name = "id" 값을 보내는 역활 => 이거를 선언 안하니까 값을 못받아서 값전달을 못받았다는 에러가 발생  -->

