<!DOCTYPE html>
<html lang="en">
{% comment %} <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>t2_update</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
</head> {% endcomment %}
{% include "../main/head.html" %}

<body>
    {% include "../main/nav.html" %}
    <div class="container">
        {% autoescape off %}
            {{df}}
        {% endautoescape %}
        {% include "../main/footer.html" %}
    </div>
</body>
</html>