<!DOCTYPE html>
<html lang="en">
<!-- head.html -->
{% include "../main/head.html" %}

<body>
<!-- nav.html -->
    {% include "../main/nav.html" %}
    <!-- t2_insert -->
    <div class="container">
    <h3>tabel2_insert_all</h3>
        <hr/>
        {% for i in cnt %}
        <form action="/board/t2_insert_all" method="post">
            <!--{% csrf_token %} post 있을때만 -->
            <table class="table table-hover">
                {% comment %} <tr>
                    <td><input type="text" placeholder="name" name = "name[]"/></td>
                    <td><input type="text" placeholder="kor"  name = "kor[]"/></td>
                    <td><input type="text" placeholder="eng"  name = "eng[]"/></td>
                    <td><input type="text" placeholder="math" name = "math[]"/></td>
                    
                </tr> {% endcomment %}
                <tr>
                    <td><input type="text" placeholder="name" value='name' name = "name[]"/></td>
                    <td><input type="text" placeholder="kor"  value='60' name = "kor[]"/></td>
                    <td><input type="text" placeholder="eng"  value='55' name = "eng[]"/></td>
                    <td><input type="text" placeholder="math" value='100' name = "math[]"/></td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit"  class="btn btn-success" value="추가"/>
            <a href="/board/t2_list" class="btn btn-success"> 리스트 </a>
        </form>

        <p># 순서 <br/>
        구조(틀) 짜고 -> 기능(method) 추가 -> 속성(val) 부여 
        </p>
        <!-- footer.html -->
         {% include "../main/footer.html" %}
    </div>
</body>
</html>
