<!DOCTYPE html>
<html lang="en">
    <!-- head.html -->
    {% include "../main/head.html" %}

<body>
    <!-- nav.html -->
    {% include "../main/nav.html" %}
    <!-- t2_insert -->
    <div class="container">

        <h3>tabel2_update_all</h3>
        <hr/>
        <form action="/board/t2_update_all" method="post">
            {% csrf_token %}
            <input type="hidden" name="menu" value = "2"/>
            <table border="0" class="table table-hover">
                {% for one in list %}
                <tr>
                    <td><input type="text" value="{{ one.no }}"   name = "no[]" readonly/></td>
                    <td><input type="text" value="{{ one.name }}" name = "name[]"/></td>
                    <td><input type="text" value="{{ one.kor }}"  name = "kor[]"/></td>
                    <td><input type="text" value="{{ one.eng }}"  name = "eng[]"/></td>
                    <td><input type="text" value="{{ one.math }}" name = "math[]"/></td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" class="btn btn-success" value="일괄 수정"/>
            <a href="/board/t2_list" class="btn btn-success"> 리스트 </a>
        </form>
        <!-- footer.html -->
        {% include "../main/footer.html" %}
    </div>>
</body>
</html>